.container {
  padding: 10%;
}

.container__buttons__editing {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.container__buttons__editing button:hover {
  background-color: #b9b9b9;
}

#container__buttons__add {
  background-color: rgba(252, 207, 61, 0.986);
}

#container__buttons__add:hover {
  background-color: rgba(252, 207, 61, 0.548);
}

#container__buttons__edit {
  background-color: rgb(190, 190, 190);
}

#container__buttons__edit:hover {
  background-color: rgba(190, 190, 190, 0.493);
}
