.home {
  display: grid;
  padding: 10%;
  width: 75%;
}
.home > p {
  font-size: 18px;
}

.home__buttons {
  margin-top: 15vh;
}

.home ul {
  display: flex;
  gap: 64px;
  margin-top: 32px;
}

.home ul li {
  list-style: none;
  background-color: rgb(231, 171, 91);
  border-radius: 20px;
  padding: 20px;
  width: 100px;
  text-align: center;
}

.home ul li:hover {
  background-color: rgb(255, 219, 172);
  cursor: pointer;
}

.home ul a {
  color: white;
  text-decoration: none;
}
